# This workflows runs and commits the standard benchmark results.
# Runs automatically on pushes to the main branch (e.g. after a pull request is merged).
# If triggered manually, runs on the latest commit of that branch, and pushes results back to
# that branch.
name: Run Benchmarks

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write

jobs:
  run-benchmarks:
    runs-on: ubuntu-latest

    # Don't run on forks or on commits that are already benchmark results
    if: ${{ github.repository == 'unitaryfoundation/ucc-bench' && !contains(github.event.head_commit.message, '[benchmark chore]') }}

    steps:
      - uses: actions/checkout@v4
        with:
          ssh-key: ${{ secrets.DEPLOY_KEY }}
          fetch-depth: 0

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: ".python-version"

      - name: Install the project
        run: uv sync --all-extras --dev

      - name: Sanitize runner name
        run: |
          safe_name=$(echo "${{ runner.name }}" | tr -cd '[:alnum:]_-' | tr '[:upper:]' '[:lower:]')
          echo "SAFE_NAME=$safe_name" >> $GITHUB_ENV

      - name: Run benchmarks
        run: ./scripts/run_benchmarks.sh ${{ github.sha }} $SAFE_NAME ./results

      - name: Configure Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

      - name: Commit changes
        env:
          SHORT_SHA: ${{ github.sha }}
        run: |
          git add ./results/*
          git diff-index --quiet HEAD || git commit -m "[benchmark chore] Update benchmark results for ${{ github.repository }}@${SHORT_SHA:0:7}"

      - name: Pull with rebase
        run: |
          git pull --rebase origin ${{ github.ref_name }}

      - name: Push changes
        run: |
          git push origin HEAD:${{ github.ref_name }}
