# When triggered (by a PR in the ucc repo), run benchmarks and post a comment back detailing the results.
# Unlike benchmarks on pushes to main, these results are not committed back to the repo.
# The purpose here is to provide performance view before merging a PR.
#
# !!This workflow is triggered by PRs in the ucc repo and comments back to that repo.
# !!For PRs to the ucc-bench repo, the there is a `run_benchmarks_pr.yml` workflow that
# !!is triggered
name: Run ucc PR Benchmark Comparison

on:
  # The payload to this call should include
  # - commit hash of the UCC repo
  # - PR number in UCC repo
  repository_dispatch:
    types: [ucc-main-pr]

# Set the runner name here for use in a later step, but also next to
# the actual runs-on designation below so users know to change both together
env:
  RUNNER_LABEL: ucc-benchmarks-8-core-U22.04
jobs:
  run-benchmarks-ucc-pr:
    runs-on: ucc-benchmarks-8-core-U22.04

    # Cancel if a newer commit is pushed to the PR
    concurrency:
      group: ${{ github.workflow }}-${{ github.event.client_payload.pr_number }}
      cancel-in-progress: true

    steps:

      # Prepare a token of Github App to post the comment
      # Note the private key needs to be PKCS#8 format, so
      # follow https://github.com/gr2m/universal-github-app-jwt?tab=readme-ov-file#converting-openssh-to-pkcs8
      # to convert to another format before adding it as a secret
      # Run this step first to fail fast
      - name: Generate token
        id: generate-token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ secrets.UCC_BENCH_APP_ID }}
          private-key: ${{ secrets.UCC_BENCH_APP_PRIVATE_KEY }}
          owner: unitaryfoundation
          repositories: ucc-bench

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Needed to walk ancestor commits

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: "Set up Python"
        uses: actions/setup-python@v5
        with:
          python-version-file: ".python-version"

      - name: Run benchmarks and post PR  comment
        env:
          GH_TOKEN: ${{ steps.generate-token.outputs.token }}

        run: bash .github/scripts/run_benchmarks_pr.sh $RUNNER_LABEL ${{ github.event.client_payload.commit_hash }} ${{ github.event.client_payload.pr_number }}
